%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{require_min_otp_vsn, "20"}.

%%====================================================================
% Compilation
%%====================================================================

{erl_opts, [
  debug_info,                             % Includes debug information.
  warn_export_all,                        % Emits warnings for uses of the 'export_all' option.
  warn_export_vars,                       % Emits warnings for all implicitly exported variables referred to after the primitives where they were first defined.
  warn_shadow_vars,                       % Emits warnings for "fresh" variables in functional objects or list comprehensions with the same name as some already defined variable.
  warn_obsolete_guard,                    % Emits warnings for calls to old type testing BIFs, such as pid/1 and list/1.
  warn_unused_import,                     % Emits warnings for unused imported functions.
  {i, "include"},                         % Adds 'include' to the list of directories to be searched when including a file.
  {parse_transform, lager_transform}      % Add "lager" to application.
]}.

{validate_app_modules, true}.             % Make sure modules in .app match those found in code.


%%====================================================================
% Dependencies
%%====================================================================

{deps, [
  {emqttd, {git, "https://github.com/emqtt/emqttd", {tag, "v2.3.6"}}},
  {lager, "3.6.2"},
  {jiffy, "0.15.2"},
  {meck, "0.8.9"},
  {amqp_client, "3.7.5"}
]}.

%%====================================================================
% Common tests
%%====================================================================

{ct_dir, "test"}.

{ct_log_dir, "logs"}.

{ct_extra_params, "-name ct_emqttd@127.0.0.1 -config rel/files/emqttd.test.config"}.

{ct_use_short_names, false}.

{cover_enabled, true}.                    % Enable code coverage in tests

%%====================================================================
% Directories
%%====================================================================

{src_dirs, ["src"]}.

%%====================================================================
% EUnit
%%====================================================================

{eunit_opts, [verbose]}.

%%====================================================================
% XRef
%%====================================================================

{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

%%====================================================================
% Profiles
%%====================================================================

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors]},
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]},
  {native, [
    {erl_opts, [{native, o3}]}
  ]},
  {dev, [
    {erl_opts, [debug_info]},
    {relx, [
      {dev_mode, true},
      {include_erts, false}
    ]}
  ]},
  {test, [
    {deps, [
      {meck, "0.8.9"}
    ]},
    {erl_opts, [debug_info]}
  ]}
]}.

%%====================================================================
% Releases
%%====================================================================
{relx, [
  {release, {emq_amqp, "0.1.0" }, [emq_amqp, sasl]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.
