[
  {emq_amqp, [
    {amqp, [
      {host, "127.0.0.1"},
      {port, 5672},
      {virtual_host, "/"},
      {username, <<"guest">>},
      {password, <<"guest">>}
    ]},
    {routes, [
      {client, [
        {connect, [
          {1, [{exchange, "direct:emq.connection"}]}
        ]},
        {disconnect, [
          {1, [{exchange, "direct:emq.connection"}]}
        ]},
        {subscribe, [
          {1, [{exchange, "direct:emq.subscription"}]}
        ]},
        {unsubscribe, [
          {1, [{exchange, "direct:emq.subscription"}]}
        ]}
      ]},
      {message, [
        {publish, [
          {1, [{topic, "$SYS/#"}, {exchange, "topic:emq.$sys"}]},
          {2, [{topic, "#"}, {exchange, "topic:emq.pub"}]}
        ]},
        {acked, [
          {1, [{exchange, "topic:emq.acked"}]}
        ]}
      ]}
    ]}
  ]}
].
